body {
  background: hsl(97, 78%, 28%);
}

* {
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.clock-section {
  /* background: #6da2df; */
  background: hsl(0, 0%, 100%);
  flex: 0.5;
  height: 500px;
  max-width: 400px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  -webkit-box-shadow: 10px 10px 30px -11px hsla(0, 0%, 0%, 0.75);
  -moz-box-shadow: 10px 10px 30px -11px hsla(0, 0%, 0%, 0.75);
  box-shadow: 10px 10px 30px -11px hsla(0, 0%, 0%, 0.75);
}

.CircularProgressbar-path {
  stroke: hsl(132, 60%, 69%) !important;
}

.CircularProgressbar-trail {
  stroke: hsl(0, 0%, 50%) !important;
}

.CircularProgressbar-text {
  fill: hsl(132, 60%, 69%) !important;
}

.CircularProgressbar-background {
  fill: hsl(132, 60%, 69%) !important;
}

.button-section {
  display: flex;
  justify-content: space-around;
  width: 250px;
}

button {
  background: hsl(145, 72%, 45%);
  font-size: 24px;
  border: none;
  padding: 5px 15px 5px 15px;
  color: hsl(0, 1%, 21%);
}

button:hover {
  cursor: pointer;
  background: hsl(145, 69%, 61%);
  box-shadow: 3px 5px 15px hsla(0, 0%, 0%, 0.5);
}

button:focus {
  outline: none;
}